/* Green:  #F5793A
 * Red:    #A95AA1
 * Yellow: #FFFF00
 * Grey:   #C0C0C0
 */

.eqsl-green {
   color: #F5793A !important;
}

.eqsl-red {
   color: #A95AA1 !important;
}

.eqsl-yellow {
   color: #FFFF00 !important;
}

.eqsl-grey {
   color: #C0C0C0 !important;
}

.qsl-green {
   color: #F5793A !important;
}

.qsl-red {
   color:#A95AA1 !important;
}

.qsl-yellow {
   color: #FFFF00 !important;
}

.qsl-grey {
   color: #C0C0C0 !important;
}

.lotw-green {
   color: #F5793A !important;
}

.lotw-red {
   color: #A95AA1 !important;
}

.lotw-yellow {
   color: #FFFF00 !important;
}

.lotw-grey {
   color: #C0C0C0 !important;
}

.clublog-green {
   color: #F5793A !important;
}

.clublog-red {
   color: #A95AA1 !important;
}

.clublog-yellow {
   color: #FFFF00 !important;
}

.clublog-grey {
   color: #C0C0C0 !important;
}

.qrz-green {
   color: #F5793A !important;
}

.qrz-red {
   color: #A95AA1 !important;
}

.qrz-yellow {
   color: #FFFF00 !important;
}

.qrz-grey {
   color: #C0C0C0 !important;
}

.lotw_info_yellow {
	background-image: linear-gradient(to bottom, #F5793A, #FFFF00);
}

.lotw_info_orange {
	background-image: linear-gradient(to bottom, #F5793A, orange);
}

.lotw_info_red {
	background-image: linear-gradient(to bottom, #F5793A, #A95AA1);
}

path.grid-rectangle {
	stroke: rgba(97, 97, 97, 1);
}

span.grid-text > font {
	color: rgb(97, 97, 97) !important;
	font-weight: 400 !important;
}

span.grid-text-unworked > font {
	color: rgb(97, 97, 97) !important;
	font-weight: 400 !important;
}

span.grid-text-worked > font {
	color: rgb(255, 255, 255) !important;
	font-weight: 400 !important;
}

/* Override CAT frequency gradient */
.cat-frequency-gradient,
.cat-frequency-gradient td,
.cat-frequency-gradient td:hover,
.cat-frequency-gradient td:focus {
	background-color: rgba(82, 81, 81, 0.7) !important;
	--bs-table-bg: rgba(82, 81, 81, 0.7) !important;
	--bs-table-accent-bg: rgba(82, 81, 81, 0.7) !important;
}

/* Only set text color to white for direct text content, not spans with text classes */
.cat-frequency-gradient td,
.cat-frequency-gradient th,
tr[data-gradient-color] td,
tr[data-gradient-color] th {
	color: #fff !important;
}

.cat-frequency-gradient > td > a > .text-success {
	color: #08ff42 !important;
}

.cat-frequency-gradient > td > .text-success > a {
	color: #08ff42 !important;
}

.cat-frequency-gradient > td > .text-danger > a {
	color: #ffc4c4 !important;
}

.cat-frequency-gradient > td > a > .text-danger {
	color: #ffc4c4 !important;
}